.kidDefaultPic {
    width: 600px;
    height: auto;
}

.addChildButton {
    color: white;
    text-decoration: none;
    background-color: red;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    
}

.addChildButton a{
    color: white;
    text-decoration: none;
    font-size: 3em;
}