.vaccines {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    margin: 26px;
    
}

.vaccine {
    background-color: lightgreen;
width: 90%;
text-align: left;
    border: 2px solid salmon;
    margin: 6px;
}

a {
    text-decoration: none;
    color: black
}

table tr, td {
    padding: 6px;
}