a {
    font-size: 14px;
}

nav {
    border-top: 1px solid #AEB4A9;
}


.navbar-img {
    height: 40px;
    margin: 8px;
}

.navbar-el p {
    text-decoration: none;
    margin: 8px;
    text-align: center;
}

.navbar {
    background-color: white;
}

.navbar button:hover {
    color: black;
    font-size: 16px;
}

.navbar img:hover {
    color: red;
}

button{
    border: 0;
    text-decoration: none;
    color: #AEB4A9;
}

.navbar-text {
    background-color: white;
}
  
  .navbar-img:hover {
    filter: invert(50%) sepia(67%) saturate(1534%) hue-rotate(324deg) brightness(86%) contrast(123%);    
}