#header img {
    margin: 20px;
    max-width: 30%;
}
h4 {
    margin: 0 40px 20px 40px;
}

.main {
    width: 100%;
    height: 400px;
    background-image: url("/public/children-ge8331cc24_1280.png");
    position: relative;
    display: flex;
}

.main img {
    position: absolute;
    height: 200px;
}
 .main h4 {
justify-content: center;
    padding: 40px 30px 0 30px;
 }

 .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    padding: 10px 40px 40px 40px;
    padding-bottom: 60px;
    border-bottom: 4px solid #EAF4FB; 
}

.menu p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.menu a {
    margin: 6px;

}
